*{
    padding: 0;
    margin: 0;
}

/*=============== Header ===========*/
.logo{
    height: 15vh;
}

.logo__img{
    height: 80px;
    margin: 10px 0px 10px 30px;
}


.logo .logo__logout{
    margin-top: 60px;
    margin-right: 30px;
    position: absolute;
    right: 30px;
    font-size: 13px;
}

.logo .logo__username{
    margin-top: 20px;
    margin-right: 30px;
    position: absolute;
    right: 30px;
    text-decoration: #0000ff;
    font-size: 22px;
}

.list-group-item{
    background-color: #1e8bff;
    color: #fff;
}

/* =========MAIN============ */

.main{

    background-color: #f5f8fa;
}

/* =========Thông Tin Công Ty============== */
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);


body{
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}

.navbar-laravel
{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.navbar-brand , .nav-link, .my-form, .login-form
{
    font-family: Raleway, sans-serif;
}

.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}
